# Shark Attack Project

## Objetivo do Projeto:
    - Fazer uma análise descritiva dos ataques de tubarões nos últimos 20 anos no mundo.

# Baixando e analisando o arquivo:
--------------------------------------------------------------------------------------------
## Baixar e dar uma olhada no arquivo do Kaggle sobre ataques de tubarão.

In [3]:
import pandas as pd
import numpy as np

In [7]:
atck_full= pd.read_csv('Datas/attacks.csv')
atck_full.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson�McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [9]:
atck_full

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson�McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
atck_full.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [6]:
atck_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

## Qual arquivo estou usando?
O arquivo disponível no Kaggle está desatualizado. No site Global Shark Attack tem um arquivo XLS que está com os dados tão sujos quanto o do Kaggle, porém, com mais informações. Isso torna o resultado final do trabalho mais fidedigno. Vou utilizar o arquivo xls daqui para frente!

In [4]:
atck_xls = pd.read_excel('Datas/GSAF5.xls')

## Comparativo dos dados disponíveis no arquivo do Kaggle comparado ao do site:

In [22]:
atck_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [19]:
atck_xls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25827 entries, 0 to 25826
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8805 non-null   object
 1   Date                    6700 non-null   object
 2   Year                    6698 non-null   float64
 3   Type                    6685 non-null   object
 4   Country                 6650 non-null   object
 5   Area                    6228 non-null   object
 6   Location                6146 non-null   object
 7   Activity                6131 non-null   object
 8   Name                    6485 non-null   object
 9   Sex                     6126 non-null   object
 10  Age                     3769 non-null   object
 11  Injury                  6668 non-null   object
 12  Fatal (Y/N)             6147 non-null   object
 13  Time                    3245 non-null   object
 14  Species                 3684 non-null   object
 15  Investigator or Source  6681 non-null   object
 16  pdf                     6699 non-null   object
 17  href formula            6696 non-null   object
 18  href                    6698 non-null   object
 19  Case Number.1           6699 non-null   object
 20  Case Number.2           6699 non-null   object
 21  original order          6700 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [23]:
atck_xls

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2021.09.10,10-Sep-2021,2021.0,NaN,EGYPT,NaN,Sidi Abdel Rahmen,Swimming,Mohamed,M,...,No shark invovlement,Dr. M. Fouda & M. Salrm,2021.09.10-Mohamed.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2021.09.10,2021.09.10,6700.0,NaN,NaN
1,2021.09.09,09-Sep-2021,2021.0,Unprovoked,USA,Florida,"Ponce Inlet, Volusia County",Surfing,Doyle Neilsen,M,...,NaN,"Daytona Beach News-Journal, 9/14/2021",2021.09.09-Neilsen.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2021.09.09,2021.09.09,6699.0,NaN,NaN
2,2021.09.05,05-Sep-2021,2021.0,Unprovoked,AUSTRALIA,New South Wales,Emerald Beach,Surfing,Timothy Thompson,M,...,White xhark,"B. Myatt, GSAF",2021.09.05-Thompson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2021.09.05,2021.09.05,6698.0,NaN,NaN
3,2021.09.03.b,03-Sep-2021,2021.0,Unprovoked,British Overseas Territory,Turks and Caicos,NaN,NaN,male,M,...,NaN,Anonymous,2021.09.03.b-TurksCaicos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2021.09.03.b,2021.09.03.b,6697.0,NaN,NaN
4,2021.08.28,28-Aug-2021,2021.0,Unprovoked,USA,Texas,"Galveston Island, Galveston County",Boogie boarding,male,M,...,NaN,"T. Craig, GSAF & K. McMurray, TrackingShark.com",2021.08.28.-Galveston.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2021.08.28,2021.08.28,6696.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25822,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25823,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25824,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25825,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25826,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Limpando os dados:
---------------------------------------------------------------------------------------------

## Ver tudo o que tem no arquivo e começar a limpeza dos dados.

In [5]:
for column in atck_xls:
    if atck_xls[column].dtypes.type == np.object_:
        print(atck_xls[column].describe())

count     8805
unique    6680
top          0
freq      2106
Name: Case Number, dtype: int64
count     6700
unique    5791
top       1957
freq         9
Name: Date, dtype: int64
count           6685
unique            10
top       Unprovoked
freq            4908
Name: Type, dtype: object
count     6650
unique     217
top        USA
freq      2428
Name: Country, dtype: object
count        6228
unique        864
top       Florida
freq         1128
Name: Area, dtype: object
count                                 6146
unique                                4347
top       New Smyrna Beach, Volusia County
freq                                   185
Name: Location, dtype: object
count        6131
unique       1563
top       Surfing
freq         1072
Name: Activity, dtype: object
count     6485
unique    5520
top       male
freq       625
Name: Name, dtype: object
count     6126
unique       7
top          M
freq      5401
Name: Sex , dtype: object
count     3769
unique     239
top         19
freq        89
Name: Age, dtype: int64
count      6668
unique     3953
top       FATAL
freq        838
Name: Injury, dtype: object
count     6147
unique      11
top          N
freq      4634
Name: Fatal (Y/N), dtype: object
count          3245
unique          394
top       Afternoon
freq            205
Name: Time, dtype: object
count            3684
unique           1631
top       White shark
freq              185
Name: Species , dtype: object
count                                6681
unique                               5133
top       K. McMurray, TrackingSharks.com
freq                                  118
Name: Investigator or Source, dtype: object
count                              6699
unique                             6689
top       1923.00.00.a-NJ fisherman.pdf
freq                                  2
Name: pdf, dtype: object
count                                                  6696
unique                                                 6686
top       http://sharkattackfile.net/spreadsheets/pdf_di...
freq                                                      2
Name: href formula, dtype: object
count                                                  6698
unique                                                 6680
top       http://sharkattackfile.net/spreadsheets/pdf_di...
freq                                                      4
Name: href, dtype: object
count           6699
unique          6679
top       2021.07.04
freq               2
Name: Case Number.1, dtype: object
count             6699
unique            6680
top       1920.00.00.b
freq                 2
Name: Case Number.2, dtype: object
count                1
unique               1
top       stopped here
freq                 1
Name: Unnamed: 22, dtype: object
count                   2
unique                  2
top       change filename
freq                    1
Name: Unnamed: 23, dtype: object

### Criando um DataFrame com as colunas que tem dados descritivos de interesse.

In [59]:
atck = (atck_xls['Year'], atck_xls['Type'], atck_xls['Country'], atck_xls['Area'],
        atck_xls['Activity'],atck_xls['Sex '], atck_xls['Age'], atck_xls['Injury'],
        atck_xls['Fatal (Y/N)'], atck_xls['Time'], atck_xls['Species '])

In [60]:
atck = pd.DataFrame(atck)
atck = atck.transpose()
atck.head()

,Year,Type,Country,Area,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species
0,2021.0,NaN,EGYPT,NaN,Swimming,M,NaN,Laceration to arm caused by metal object,NaN,NaN,No shark invovlement
1,2021.0,Unprovoked,USA,Florida,Surfing,M,!6,Minor injury to right arm,N,13h20,NaN
2,2021.0,Unprovoked,AUSTRALIA,New South Wales,Surfing,M,31,FATAL,Y,10h30,White xhark
3,2021.0,Unprovoked,British Overseas Territory,Turks and Caicos,NaN,M,NaN,Wrist bitten,N,NaN,NaN
4,2021.0,Unprovoked,USA,Texas,Boogie boarding,M,!!,Lacerations both sides of lower leg immediatel...,N,11h45,NaN

In [53]:
print(atck['Year'].describe())
print('')
print(atck['Year'].value_counts())

count     6698.0
unique     253.0
top       2015.0
freq       143.0
Name: Year, dtype: float64

2015.0    143
2017.0    139
2016.0    131
0.0       129
2011.0    128
         ...
1792.0      1
1791.0      1
1788.0      1
1787.0      1
1753.0      1
Name: Year, Length: 253, dtype: int64

### Criar um DataFrame apenas com os dados dos últimos 20 anos de ataques de tubarões no mundo.

In [63]:
year_2000 = atck['Year'] > 2000
print(year_2000)

0         True
1         True
2         True
3         True
4         True
         ...
25822    False
25823    False
25824    False
25825    False
25826    False
Name: Year, Length: 25827, dtype: bool

In [1]:
atck['Year'] < 2000

NameError: name 'atck' is not defined

In [65]:
atck = (atck[atck['Year'] > 2000])

In [66]:
atck

,Year,Type,Country,Area,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species
0,2021.0,NaN,EGYPT,NaN,Swimming,M,NaN,Laceration to arm caused by metal object,NaN,NaN,No shark invovlement
1,2021.0,Unprovoked,USA,Florida,Surfing,M,!6,Minor injury to right arm,N,13h20,NaN
2,2021.0,Unprovoked,AUSTRALIA,New South Wales,Surfing,M,31,FATAL,Y,10h30,White xhark
3,2021.0,Unprovoked,British Overseas Territory,Turks and Caicos,NaN,M,NaN,Wrist bitten,N,NaN,NaN
4,2021.0,Unprovoked,USA,Texas,Boogie boarding,M,!!,Lacerations both sides of lower leg immediatel...,N,11h45,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2354,2001.0,Watercraft,AUSTRALIA,New South Wales,Kayaking,M,35,"No injury, shark rammed & bit kayak",N,NaN,5 m shark
2355,2001.0,Unprovoked,CUBA,Holquin Province,Swimming,F,55,Left arm bitten,N,NaN,2 m [6.75'] shark
2356,2001.0,Watercraft,AUSTRALIA,South Australia,Fishing,NaN,NaN,No injury to occupants,N,NaN,"White shark, 4.3 m [14']"
2357,2001.0,Unprovoked,USA,California,Surfing,M,NaN,"Foot bruised, board dinged",N,NaN,"1.8 m to 2.4 m [6' to 8'] ""black finned shark"""
2358,2001.0,Watercraft,NEW ZEALAND,North Island,Kayaking,M,NaN,"No injury, kayak bitten",N,NaN,White shark

In [67]:
atck.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2358 entries, 0 to 2358
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Year         2358 non-null   object
 1   Type         2347 non-null   object
 2   Country      2356 non-null   object
 3   Area         2257 non-null   object
 4   Activity     2252 non-null   object
 5   Sex          2256 non-null   object
 6   Age          1771 non-null   object
 7   Injury       2353 non-null   object
 8   Fatal (Y/N)  2192 non-null   object
 9   Time         1710 non-null   object
 10  Species      1514 non-null   object
dtypes: object(11)
memory usage: 221.1+ KB

### Criar um DataFrame com os acidentes registrados entre 1990 e 2020.

In [93]:
# Para reinicar tudo que foi feito acima, utilizar essa célula.
import pandas as pd
import numpy as np

atck_xls = pd.read_excel('Datas/GSAF5.xls')

atck = (atck_xls['Year'], atck_xls['Type'], atck_xls['Country'], atck_xls['Area'],
        atck_xls['Activity'],atck_xls['Sex '], atck_xls['Age'], atck_xls['Injury'],
        atck_xls['Fatal (Y/N)'], atck_xls['Time'], atck_xls['Species '])

atck = pd.DataFrame(atck)
atck = atck.transpose()

# Transformar a coluna 'Year' (nossa variável chave), de object para float
atck['Year'] = atck['Year'].astype(float, errors = 'raise')

# A primeira linha está classificado como 'No Shark involvement', vou deletar. 
# IMPORTANTE: depois ver se tem mais 'No Shark involvement' na coluna 'Injury'!!!
atck = atck.drop(0, axis = 0)
atck = atck.reset_index(drop = True)

atck.head()

,Year,Type,Country,Area,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species
0,2021.0,Unprovoked,USA,Florida,Surfing,M,!6,Minor injury to right arm,N,13h20,NaN
1,2021.0,Unprovoked,AUSTRALIA,New South Wales,Surfing,M,31,FATAL,Y,10h30,White xhark
2,2021.0,Unprovoked,British Overseas Territory,Turks and Caicos,NaN,M,NaN,Wrist bitten,N,NaN,NaN
3,2021.0,Unprovoked,USA,Texas,Boogie boarding,M,!!,Lacerations both sides of lower leg immediatel...,N,11h45,NaN
4,2021.0,Unprovoked,USA,Louisiana,"Fishing, fell in water",M,64,Severe injury to leg,N,14h00,NaN

In [109]:
atck90 = atck[atck['Year'] > 1990]
atck20 = atck[atck['Year'] < 2021]

atck = pd.concat([atck20, atck90], ignore_index = True)
atck

,Year,Type,Country,Area,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species
0,2020.0,Unprovoked,USA,California,Swimming,M,NaN,No injury. Swim fin bittten,N,Afternoon,White shark
1,2020.0,Unprovoked,MALDIVES,Raa Atoll,Fell off fishing boat,M,40,Injuries to leg,N,09h36,NaN
2,2020.0,Unprovoked,ST MARTIN,NaN,Swimming,F,39,FATAL,Y,14h00,Tiger shark
3,2020.0,Unprovoked,AUSTRALIA,Western Australia,Surfing,M,NaN,"No injury, Board bitten",N,07h00,NaN
4,2020.0,Unprovoked,USA,Hawaii,Surfing,M,56,FATAL,Y,07h45,"Tiger shark. 14'3"""
...,...,...,...,...,...,...,...,...,...,...,...
26964,1991.0,Unprovoked,USA,Oregon,Surfing,M,38,Calf lacerated & board bitten,N,09h30,5.5 m [18'] white shark
26965,1991.0,Unprovoked,SOUTH AFRICA,Western Cape Province,Spearfishing,M,20,Foot & swim fin bitten,N,12h30,5.5 m [18'] white shark
26966,1991.0,Unprovoked,AUSTRALIA,Queensland,Swimming,M,35,"Hands, legs & buttocks lacerated",N,08h10,NaN
26967,1991.0,Unprovoked,AUSTRALIA,Western Australia,Surf-skiing,M,NaN,"No injury, shark brushed ski",N,NaN,4 m shark
26968,1991.0,Unprovoked,AUSTRALIA,Queensland,Surfing (or sailboarding),M,22,Survived,N,NaN,2 m shark

In [110]:
# Continuar daqui. o DataFrame atck já está filtrados
# pelos ataques realizados em 1990 e 2020
atck.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26969 entries, 0 to 26968
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Year         26969 non-null  float64
 1   Type         26892 non-null  object
 2   Country      26905 non-null  object
 3   Area         25644 non-null  object
 4   Activity     25427 non-null  object
 5   Sex          25268 non-null  object
 6   Age          18720 non-null  object
 7   Injury       26895 non-null  object
 8   Fatal (Y/N)  25032 non-null  object
 9   Time         17224 non-null  object
 10  Species      16877 non-null  object
dtypes: float64(1), object(10)
memory usage: 2.3+ MB