# Shark Attack Project

## Objetivo do Projeto:
    - Fazer uma análise descritiva dos ataques de tubarões nos últimos 20 anos no mundo.

# Baixando e analisando o arquivo:
--------------------------------------------------------------------------------------------
## Baixar e dar uma olhada no arquivo do Kaggle sobre ataques de tubarão.

In [3]:
import pandas as pd
import numpy as np

In [7]:
atck_full= pd.read_csv('Datas/attacks.csv')
atck_full.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson�McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [9]:
atck_full

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson�McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
atck_full.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [6]:
atck_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

## Qual arquivo estou usando?
O arquivo disponível no Kaggle está desatualizado. No site Global Shark Attack tem um arquivo XLS que está com os dados tão sujos quanto o do Kaggle, porém, com mais informações. Isso torna o resultado final do trabalho mais fidedigno. Vou utilizar o arquivo xls daqui para frente!

In [4]:
atck_xls = pd.read_excel('Datas/GSAF5.xls')

## Comparativo dos dados disponíveis no arquivo do Kaggle comparado ao do site:

In [22]:
atck_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [19]:
atck_xls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25827 entries, 0 to 25826
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8805 non-null   object
 1   Date                    6700 non-null   object
 2   Year                    6698 non-null   float64
 3   Type                    6685 non-null   object
 4   Country                 6650 non-null   object
 5   Area                    6228 non-null   object
 6   Location                6146 non-null   object
 7   Activity                6131 non-null   object
 8   Name                    6485 non-null   object
 9   Sex                     6126 non-null   object
 10  Age                     3769 non-null   object
 11  Injury                  6668 non-null   object
 12  Fatal (Y/N)             6147 non-null   object
 13  Time                    3245 non-null   object
 14  Species                 3684 non-null   object
 15  Investigator or Source  6681 non-null   object
 16  pdf                     6699 non-null   object
 17  href formula            6696 non-null   object
 18  href                    6698 non-null   object
 19  Case Number.1           6699 non-null   object
 20  Case Number.2           6699 non-null   object
 21  original order          6700 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [23]:
atck_xls

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2021.09.10,10-Sep-2021,2021.0,NaN,EGYPT,NaN,Sidi Abdel Rahmen,Swimming,Mohamed,M,...,No shark invovlement,Dr. M. Fouda & M. Salrm,2021.09.10-Mohamed.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2021.09.10,2021.09.10,6700.0,NaN,NaN
1,2021.09.09,09-Sep-2021,2021.0,Unprovoked,USA,Florida,"Ponce Inlet, Volusia County",Surfing,Doyle Neilsen,M,...,NaN,"Daytona Beach News-Journal, 9/14/2021",2021.09.09-Neilsen.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2021.09.09,2021.09.09,6699.0,NaN,NaN
2,2021.09.05,05-Sep-2021,2021.0,Unprovoked,AUSTRALIA,New South Wales,Emerald Beach,Surfing,Timothy Thompson,M,...,White xhark,"B. Myatt, GSAF",2021.09.05-Thompson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2021.09.05,2021.09.05,6698.0,NaN,NaN
3,2021.09.03.b,03-Sep-2021,2021.0,Unprovoked,British Overseas Territory,Turks and Caicos,NaN,NaN,male,M,...,NaN,Anonymous,2021.09.03.b-TurksCaicos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2021.09.03.b,2021.09.03.b,6697.0,NaN,NaN
4,2021.08.28,28-Aug-2021,2021.0,Unprovoked,USA,Texas,"Galveston Island, Galveston County",Boogie boarding,male,M,...,NaN,"T. Craig, GSAF & K. McMurray, TrackingShark.com",2021.08.28.-Galveston.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2021.08.28,2021.08.28,6696.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25822,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25823,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25824,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25825,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25826,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Limpando os dados:
---------------------------------------------------------------------------------------------

## Ver tudo o que tem no arquivo e começar a limpeza dos dados.

In [5]:
for column in atck_xls:
    if atck_xls[column].dtypes.type == np.object_:
        print(atck_xls[column].describe())

count     8805
unique    6680
top          0
freq      2106
Name: Case Number, dtype: int64
count     6700
unique    5791
top       1957
freq         9
Name: Date, dtype: int64
count           6685
unique            10
top       Unprovoked
freq            4908
Name: Type, dtype: object
count     6650
unique     217
top        USA
freq      2428
Name: Country, dtype: object
count        6228
unique        864
top       Florida
freq         1128
Name: Area, dtype: object
count                                 6146
unique                                4347
top       New Smyrna Beach, Volusia County
freq                                   185
Name: Location, dtype: object
count        6131
unique       1563
top       Surfing
freq         1072
Name: Activity, dtype: object
count     6485
unique    5520
top       male
freq       625
Name: Name, dtype: object
count     6126
unique       7
top          M
freq      5401
Name: Sex , dtype: object
count     3769
unique     239
top         19
freq        89
Name: Age, dtype: int64
count      6668
unique     3953
top       FATAL
freq        838
Name: Injury, dtype: object
count     6147
unique      11
top          N
freq      4634
Name: Fatal (Y/N), dtype: object
count          3245
unique          394
top       Afternoon
freq            205
Name: Time, dtype: object
count            3684
unique           1631
top       White shark
freq              185
Name: Species , dtype: object
count                                6681
unique                               5133
top       K. McMurray, TrackingSharks.com
freq                                  118
Name: Investigator or Source, dtype: object
count                              6699
unique                             6689
top       1923.00.00.a-NJ fisherman.pdf
freq                                  2
Name: pdf, dtype: object
count                                                  6696
unique                                                 6686
top       http://sharkattackfile.net/spreadsheets/pdf_di...
freq                                                      2
Name: href formula, dtype: object
count                                                  6698
unique                                                 6680
top       http://sharkattackfile.net/spreadsheets/pdf_di...
freq                                                      4
Name: href, dtype: object
count           6699
unique          6679
top       2021.07.04
freq               2
Name: Case Number.1, dtype: object
count             6699
unique            6680
top       1920.00.00.b
freq                 2
Name: Case Number.2, dtype: object
count                1
unique               1
top       stopped here
freq                 1
Name: Unnamed: 22, dtype: object
count                   2
unique                  2
top       change filename
freq                    1
Name: Unnamed: 23, dtype: object

### Criando um DataFrame com as colunas que tem dados descritivos de interesse.

In [59]:
atck = (atck_xls['Year'], atck_xls['Type'], atck_xls['Country'], atck_xls['Area'],
        atck_xls['Activity'],atck_xls['Sex '], atck_xls['Age'], atck_xls['Injury'],
        atck_xls['Fatal (Y/N)'], atck_xls['Time'], atck_xls['Species '])

In [60]:
atck = pd.DataFrame(atck)
atck = atck.transpose()
atck.head()

,Year,Type,Country,Area,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species
0,2021.0,NaN,EGYPT,NaN,Swimming,M,NaN,Laceration to arm caused by metal object,NaN,NaN,No shark invovlement
1,2021.0,Unprovoked,USA,Florida,Surfing,M,!6,Minor injury to right arm,N,13h20,NaN
2,2021.0,Unprovoked,AUSTRALIA,New South Wales,Surfing,M,31,FATAL,Y,10h30,White xhark
3,2021.0,Unprovoked,British Overseas Territory,Turks and Caicos,NaN,M,NaN,Wrist bitten,N,NaN,NaN
4,2021.0,Unprovoked,USA,Texas,Boogie boarding,M,!!,Lacerations both sides of lower leg immediatel...,N,11h45,NaN

In [53]:
print(atck['Year'].describe())
print('')
print(atck['Year'].value_counts())

count     6698.0
unique     253.0
top       2015.0
freq       143.0
Name: Year, dtype: float64

2015.0    143
2017.0    139
2016.0    131
0.0       129
2011.0    128
         ...
1792.0      1
1791.0      1
1788.0      1
1787.0      1
1753.0      1
Name: Year, Length: 253, dtype: int64

## Criar um DataFrame com os acidentes registrados entre 1990 e 2020.

In [264]:
# Para reinicar tudo que foi feito acima, utilizar essa célula.
import pandas as pd
import numpy as np
# Baixar o Arquivo
atck_xls = pd.read_excel('Datas/GSAF5.xls')

# Criar o DataFrame com as informações que parecem mais úteis
atck = (atck_xls['Year'], atck_xls['Type'], atck_xls['Country'], atck_xls['Area'],
        atck_xls['Activity'],atck_xls['Sex '], atck_xls['Age'], atck_xls['Fatal (Y/N)'], 
        atck_xls['Time'], atck_xls['Species '])
atck = pd.DataFrame(atck)
atck = atck.transpose()

# Transformar a coluna 'Year' (nossa variável chave), de object para float
atck['Year'] = atck['Year'].astype(float, errors = 'raise')

# A primeira linha está classificado como 'No Shark involvement', vou deletar. 
# IMPORTANTE: depois ver se tem mais 'No Shark involvement' na coluna 'Injury'!!!
atck = atck.drop(0, axis = 0)
atck = atck.reset_index(drop = True)

# --------------- AQUI COMEÇAM OS CÓDIGOS PARA CRIAR O DATA FRAME 1990 - 2020 ------------------
# Criar uma máscara para criar o DataFrame com os ataques de 1990 até 2020.
atck90 = atck[atck['Year'] > 1989]
atck = atck90[atck90['Year'] < 2021]

# Organizar a tabela de acordo com o ano em que aconteceu o ataque, em ordem decrescente -
# e pela idade em ordem crescente
# Resetar a indexação das linhas
atck = atck.sort_values(['Year', 'Age'], ascending = [False, True])
atck = atck.reset_index(drop = True)

In [265]:
atck.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935 entries, 0 to 2934
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Year         2935 non-null   float64
 1   Type         2926 non-null   object
 2   Country      2933 non-null   object
 3   Area         2811 non-null   object
 4   Activity     2795 non-null   object
 5   Sex          2773 non-null   object
 6   Age          2165 non-null   object
 7   Fatal (Y/N)  2735 non-null   object
 8   Time         2020 non-null   object
 9   Species      1911 non-null   object
dtypes: float64(1), object(9)
memory usage: 229.4+ KB

In [269]:
# Identificando todos as linhas múltiplas. Vou achar uma 'na raça' e ver como resolver.
# Depois fazer um regex para identificar todos esses casos.
for i in atck['Age']:
    print(i)

4
7
7
9
10
11
12
12
12
12
12
13
13
14
14
14
15
15
15
16
16
17
17
18
20
21
22
23
23
23
24
25
26
26
26
28
29
29
30
30
31
35
35
36
38
38
39
40
42
46
48
50
52
54
55
56
57
57
59
59
59
60
60
61
63
70
75
50s
Teen
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
8
9
9
9
10
10
11
11
12
13
15
16
16
17
17
17
17
18
18
18
18
19
19
20
20
21
21
22
23
23
23
25
25
25
26
28
28
29
30
30
31
32
32
32
32
33
34
35
37
37
38
40
41
41
43
43
44
45
45
45
46
46
49
49
50
50
50
51
51
53
57
57
58
58
64
65
65
67
70
70
74
20's
22, 57, 31
28 & 22
30s
60s
9 & 60
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
6
8
10
10
10
11
11
12
12
12
12
13
13
14
14
14
14
14
14
15
16
17
17
17
17
18
18
18
19
19
20
20
21
23
24
24
24
25
25
26
28
29
29
29
30
30
31
32
32
32
33
33
34
34
34
35
35
36
37
38
39
40
41
41
42
42
42
43
45
46
46
48
48
48
50
50
52
54
55
55
55
56
56
57
58
60
61
62
69
20s
30s
40s
60s
a minor
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
3
7
8
10
10
11
12
13
13
13
14
14
14
15
15
16
16
17
17
17
17
17
18
18
19
20
20
20
21
21
22
22
24
24
25
25
25
25
25
26
26
26
28
28
28
29
30
30
31
31
32
32
33
33
33
34
34
35
35
35
37
37
37
39
40
40
40
40
41
42
46
47
48
48
49
50
51
54
54
55
57
58
58
60
68
69
73
82
20s
20s
Teen
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
6
9
9
9
10
11
11
11
11
12
12
12
13
15
15
15
16
16
17
18
19
19
19
19
20
20
21
21
21
22
22
22
22
22
23
23
24
25
25
26
26
27
29
29
29
31
31
31
32
33
34
34
35
36
36
36
36
37
39
40
40
41
41
41
41
42
42
42
43
43
43
43
45
45
46
48
48
49
50
51
52
55
57
58
59
59
59
60
60
61
61
64
65
65
66
69
72
73
40s
60s
Teen
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
7
9
9
10
10
10
12
13
14
14
15
16
18
19
20
20
21
21
21
22
22
22
22
25
25
26
27
28
28
29
31
32
32
34
35
35
37
38
38
40
40
42
42
43
44
45
46
47
50
50
52
54
54
55
57
58
62
71
10
11
12
12
12
13
13
13
14
15
16
17
17
18
18
18 months
19
19
19
19
20
22
23
23
23
24
26
29
30
32
32
34
35
36
36
36
37
38
38
39
41
43
43
47
47
48
50
52
52
57
58
6
63
65
68
70
71
9
9
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
10
10
10
10
12
13
13
13
14
14
15
15
16
16
17
17
17
18
19
20
20
20s
21
21
21
22
23
23
24
25
26
28
28
28
29
29
29
30s
31
31
33
34
35
36
37
38
38
39
39
39
40
40
40s
42
42
42
42
43
43
43
44
44
45
48
50
50
50s
51
52
53
61
63
63
66
7
7
8
8
9
Teen
teen
teen
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
10
10
11
11
12
13
14
15
15
16
16
16
16
17
17
18
18
18
19
19
19
20
20
21
21
24
24
25
25
25
26
26
27
28
28
28 & 26
29
29
29
3
30
30
30
32
32
33
34
34
35
35
36
37
39
40
40
41
41
42
43
43
45
45
45
46
46
47
47
48
48
50
50
50
50
50
50
51
53
55
56
57
58
58
58
6
60
62
63
64
68
7
74
77
9
9
teen
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
11
12
12
12
14
15
15
16
16
16
17
17
18
18
19
19
20
20
20
20
20
21
21
22
22
22
23
23
23
24
24
24
24
25
25
25
25
25
26
26
27
28
28
28
29
29
29
29
30
30
30
30s
31
31
31
32
32
32
33
33
34
34
34
35
37
38
39
39
42
42
42
42
43
43
44
44
46
47
48
50
51
52
52
53
53
55
56
56
57
6
6
60
60
61
61
62
8
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
10
10
10
12
12
14
14
14
15
15
16
16
16
17
17
17
18
19
19
19
20
20s
21
21
21
21
21
22
22
23
24
24
25
25
25
26
27
27
27
27
27
28
28
28
28
29
29
30
30
30
31
32
32
32
32
33
35
35
35
36
36
37
37
37
37
37
38
38
39
41
41
42
43
43
43
46
48
48
48
49
49
49
5
50
51
51
54
54
55
58
6
63
64
7
7
86
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
10
10
10
13
13
14
14
15
16
16
16
17
18
18
18
19
19
19
20
20
20
20
20
21
21
22
24
24
24
24
25
27
29
29
29
29
30
31
31
32
33
34
34
35
35
37
37
38
40
43
45
46
46
46
47
47
48
48
49
54
54
55
58
59
6
60
60
68
70
70
9
9
Teen
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
10
10
11
12
13
14
14
14
14
15
15
15
15
16
17
17
17
17
17
18
18
19
19
19
20
20
21
21
22
22
22
22
23
23
23
24
24
24
25
25
25
26
26
26
27
27
27
27
31
31
31
31
31
33
34
37
39
39
40
40
41
41
43
46
48
49
49
49
49
49
50
52
52
54
55
55
56
57
58
59
60
61
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
10
11
13
13
14
14
14
14
14
14
15
15
15
15
15
15
16
16
16
17
17
18
18
19
19
20
20
20
20
21
21
24
24
24
24
24
25
26
26
26
27
27
28
29
29
29
30
31
32
32
32
33
34
35
37
37
38
39
39
40
40
40
40
40
42
42
43
43
43
44
44
45
46
47
49
49
50
51
51
52
52
52
52
53
6
66
7
8
8
9
9
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
11
12
12
13
14
14
14
15
15
15
15
16
16
16
17
18
18
19
19
19
20
20
20
20
20
21
21
22
23
23
24
24
24
24
24
26
26
27
27
28
29
30
30
30
31
31
32
32
34
36
36
36
37
38
38
40
41
42
42
43
45
48
48
48
51
52
52
52
53
54
54
56
58
58
59
63
68
7
7
9
9
9
Teen
teen
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
10
11
11
12
13
13
14
14
15
15
15
15
15
15
15
15
15
16
17
17
18
18
19
19
20
20
20s
21
21
21
21
22
22
23
24
24
24
25
25
25
26
26
27
27
28
28
28, 23 & 30
29
30s
31
33
33
34
34
34
35
35
35
36
37
40
40
41
43
43
44
45
46
46 & 34
49
49
52
52
54
55
57
59
7
7
9
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
18
19
26
32
45
51
11
12
12
13
14
14
14
15
15
15
16
16
17
17
17
18
18
18
18
19
20
20
20
20
21
22
22
22
23
23
24
25
25
25
26
26
26
28
29
30
30s
32
32
33
35
36
37
37
38
39
40
40
44
44
47
48
49
52
52
55
57
6
61
62
68
7
70
8
Teens
teen
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
7
8
9
9
9
11
13
15
15
16
16
16
16
17
17
17
18
19
20
20
20
21
22
22
22
22
24
24
26
26
28
29
30
30
31
34
34
38
38
38
40
40
40
44
46
47
47
50
51
51
52
57
59
61
63
77
11
20
21
22
28
30s
45
Teen
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
7
11
12
12
13
14
15
15
16
16
16
17
17
17
18
18
18
18
19
19
20
20
21
21
22
22
22
23
24
28
28
30
30
31
33
34
35
36
36
37
39
41
44
45
50
50
51
54
56
58
60
84
10
13
15
15
17
18
18
19
21
24
30
35
36 & 26
37
40
46
50
8
9
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
9
10
11
11
13
14
14
15
15
15
15
16
16
16
17
18
18
19
19
20
20
20
22
23
23
24
24
26
26
27
28
28
29
29
30
31
31
32
34
34
35
35
35
35
36
39
41
41
43
45
47
47
48
50
50
52
55
60

11
14
16
16
19
20
21
21
25
30
30
32
35
36
40
41
44
52
55

nan
nan
nan
nan
nan
nan
nan
nan
nan
8
10
11
12
12
14
14
16
16
16
16
17
17
18
18
19
19
19
20
20
21
22
24
26
27
29
31
32
36
36
38
40
40
42
42
43
44
44
45
46
48
49
52
55
69
75
12
12
13
14
17
18
20
20
21
21 & ?
22
23
26
26
28
29
33
35
35
6½
mid-30s
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
5
5
9
11
12
12
12
13
13
13
14
14
15
16
17
17
17
18
19
23
23
25
25
26
27
27
27
27
28
30
31
31
34
35
37
38
39
40
41
44
44
45
47
47
48
49
52
52
53
55
56
69
69
69
73
20
23
23 & 20
24
26
26
27
27
28
35
47
49
55
8
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
5
10
12
12
13
14
14
15
16
18
18
20
21
22
28
28
29
29
30
35
35
39
42
43
43
51
61
62
10
12
13
13
17
19
21
22
23
25
29
30
35
35
37
37
39
39
41
41
45
47
52
7
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
9
10
13
13
14
15
16
16
16
17
18
19
20
21
22
22
23
24
26
28
32
33
35
40
47
50
11
14
14
16
17
17
18
18
19
21
21
24
25
26
28
28
28
30
31
32
40
52
6
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
8
12
14
17
19
19
25
28
29
32
33
34
39
41
49
50
51
54
55
 30
10
12
12
12
16
17
17
17
18
18
19
20
20
21
21
22
22
23
27
29
33
35
42
47
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
14
17
19
19
21
22
24
24
27
29
31
36
45
45
47
52
53
63
11
13
14
16
18
18
21
22
23
24
25
26
28
28
32
33
33
46
5
7
7
8
9
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
7
10
12
12
14
14
16
18
18
19
19
20
22
23
25
25
29
29
31
32
38
44
44
45
47
47
69
12
13
13
14
15
15
15
16
17
17
17
18
18
18
19
19
20
20
22
32
33
34
35
39
44
45
9
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
12
15
15
16
19
22
22
25
26
30
31
33
33
34
35
42
44
 28
15
20?
23
23
24
24
25
26
30
36
43
44
7      &    31
71
9
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
12
16
19
19
22
26
26
27
28
29
30
31
34
34
35
36
39
55
61
69
13
15
15
16
17
21
21
25
30
32
32 & 30
42
42
51
60's
69
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
10
17
18
18
19
19
19
20
21
22
28
28
30
35
36
36
40
40
41
46
16
17
17
19
21
24
26
30
31
33
34
42
45
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
14
19
20
21
22
22
23
25
32
32
36
38
40
41
65
10
13
18
18
22
22
23
30
31
32
35
39
42
70
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
17
17
18
21
22
22
23
26
43
44
49
50
18
19
24
25
26
26
29
30
30
30s
30s
31
33
37
38
51
53
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan

## Tirar os elementos da coluna 'Age' que apresentam dúvida de idade. Ex: 18 or 20.
-------------------------------------------------
Vou utilizar a menor idade. Alteração não significativa para a estatística final.

In [252]:
# Encontrar todos os elementos da atck['Age'] com idade 'x or y'
import regex as re

padrão = '[ 0-9]+[ or]+[ 0-9]+'
lista_or = list()
for i in atck['Age']:
    try:
        if i in re.findall(padrão, i):
            lista_or.append(i)
    except:
        None
print(lista_or)

['18 or 20', '12 or 13', '8 or 10', '30 or 36', '33 or 37']

In [253]:
# Encontrar e alterar essas idades para o primeiro número apresentado
f = atck[atck['Age'] == '33 or 37']
f

,Year,Type,Country,Area,Activity,Sex,Age,Fatal (Y/N),Time,Species
2237,2001.0,Unprovoked,AUSTRALIA,New South Wales,Surfing,M,33 or 37,N,17h45,NaN

Index que estão com informações imprecisas na coluna 'Age' e precisam ser tratadas:

- 1600
- 1700
- 2064
- 2156
- 2237

In [267]:
atck['Age'].iloc[1600] = 18
atck['Age'].iloc[1700] = 12
atck['Age'].iloc[2064] = 8
atck['Age'].iloc[2156] = 30                               
atck['Age'].iloc[2237] = 33

C:\Users\guoco\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [268]:
# Confirmação de que todos os elementos foram alterados!
print(atck['Age'].iloc[1600])
print(atck['Age'].iloc[1700])
print(atck['Age'].iloc[2064])
print(atck['Age'].iloc[2156])
print(atck['Age'].iloc[2237])

# Resolvido!!

18
12
8
30
33

## Dividindo informações múltiplas em uma mesma linha
----------------------------------------------------------------------------------
Encontrei algumas linhas com informações multiplas, ou seja, mais de um acidente registrado em uma única informação.

### Começar identificando todas as linhas com informações múltiplas. 
Algumas estão separados por ',' e outras por '&'

In [257]:
# usar algo parecido na idade incerta. Vamos de regex de novo!
# Encontrar as linhas que tem 2 vítimas registradas
import regex as re

padrão = '[ 0-9]+[, &]+[ 0-9]+'
lista_mult = list()
for i in atck['Age']:
    try:
        if i in re.findall(padrão, i):
            lista_mult.append(i)
    except:
        None
print(lista_mult)

['28 & 22', '9 & 60', '28 & 26', '46 & 34', '36 & 26', '23 & 20', '7      &    31', '32 & 30']

In [258]:
# Encontrar as linhas que tem 3 vítimas registradas
padrão = '[ 0-9]+[, &]+[ 0-9]+[, &]+[ 0-9]+'
lista_mult1 = list()
for i in atck['Age']:
    try:
        if i in re.findall(padrão, i):
            lista_mult1.append(i)
    except:
        None
print(lista_mult1)

['22, 57, 31', '28, 23 & 30', '7      &    31']

In [241]:
w = atck[atck['Age'] == '28, 23 & 30']
w

,Year,Type,Country,Area,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species
1743,2006.0,Watercraft,ATLANTIC OCEAN,800 miles from land,Competing in the Woodvale Atlantic Rowing Race,F,"28, 23 & 30","No injury to occupants; a shark, accidentally ...",N,NaN,NaN

Index da coluna 'Age' que estão com informações múltiplas e precisam ser divididas:
- 183 - 2 pessoas
- 186 - 2 pessoas
- 909 - 2 pessoas
- 1765 - 2 pessoas
- 2059 - 2 pessoas
- 2324 - 2 pessoas
- 2719 - 2 pessoas
- 2775 - 2 pessoas
- 182 - 3 pessoas
- 1743 - 3 pessoas

#### Vou identificar essas linhas e separá-las em multiplas linhas de informações únicas. Ou seja, criar uma linha para cada indivíduo envolvido no acidente

In [270]:
print(atck['Age'][182])
print(type(atck['Age'][182]))

22, 57, 31
<class 'str'>

In [272]:
atck.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935 entries, 0 to 2934
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Year         2935 non-null   float64
 1   Type         2926 non-null   object
 2   Country      2933 non-null   object
 3   Area         2811 non-null   object
 4   Activity     2795 non-null   object
 5   Sex          2773 non-null   object
 6   Age          2165 non-null   object
 7   Fatal (Y/N)  2735 non-null   object
 8   Time         2020 non-null   object
 9   Species      1911 non-null   object
dtypes: float64(1), object(9)
memory usage: 229.4+ KB

In [273]:
linha_182 = list()
linha_182.append(atck.iloc[182, 0])
linha_182.append(atck.iloc[182, 1])
linha_182.append(atck.iloc[182, 2])
linha_182.append(atck.iloc[182, 3])
linha_182.append(atck.iloc[182, 4])
linha_182.append(atck.iloc[182, 5])
linha_182.append(atck.iloc[182, 6])
linha_182.append(atck.iloc[182, 7])
linha_182.append(atck.iloc[182, 8])
linha_182.append(atck.iloc[182, 9])

print(linha_182)
linha_182_1 = linha_182[:]
linha_182_1[6] = 22

linha_182_2 = linha_182[:]
linha_182_2[6] = 57

linha_182_3 = linha_182[:]
linha_182_3[6] = 31

print(linha_182_1)
print(linha_182_2)
print(linha_182_3)

# Deu certo! Agora precisa criar funções para fazer isso em grande escala!
# Depois precisa adicionar essas linhas no DataFrame e retirar as multiplas!

[2019.0, 'Unprovoked', 'USA', 'Hawaii', 'Snorkeling', nan, '22, 57, 31', 'N', '10h40', "Galapagos shark, 5'-9'"]
[2019.0, 'Unprovoked', 'USA', 'Hawaii', 'Snorkeling', nan, 22, 'N', '10h40', "Galapagos shark, 5'-9'"]
[2019.0, 'Unprovoked', 'USA', 'Hawaii', 'Snorkeling', nan, 57, 'N', '10h40', "Galapagos shark, 5'-9'"]
[2019.0, 'Unprovoked', 'USA', 'Hawaii', 'Snorkeling', nan, 31, 'N', '10h40', "Galapagos shark, 5'-9'"]

In [276]:
def info_mult(linha):
    '''Criar uma lista com todas as informações do index em que tem mais de uma informação
    no campo AGE'''
    
    infos = list()
    global atck
    infos.append(atck.iloc[linha, 0])
    infos.append(atck.iloc[linha, 1])
    infos.append(atck.iloc[linha, 2])
    infos.append(atck.iloc[linha, 3])
    infos.append(atck.iloc[linha, 4])
    infos.append(atck.iloc[linha, 5])
    infos.append(atck.iloc[linha, 6])
    infos.append(atck.iloc[linha, 7])
    infos.append(atck.iloc[linha, 8])
    infos.append(atck.iloc[linha, 9])    
    
    return infos

In [289]:
# Criar uma variável para cada linha em que AGE tem mais de uma informação
# rodar a função info_mult para cada linha dessa
linha_183 = info_mult(183)
linha_186 = info_mult(186)
linha_909 = info_mult(909)
linha_1765 = info_mult(1765)
linha_2059 = info_mult(2059)
linha_2324 = info_mult(2324)
linha_2719 = info_mult(2719)
linha_2775 = info_mult(2775)
linha_1743 = info_mult(1743)
print(linha_183)
print(linha_186)
print(linha_2059)

[2019.0, 'Unprovoked', 'AUSTRALIA', 'Queensland', 'Snorkeling', 'M', '28 & 22', 'N', '10h20', 'Tiger shark']
[2019.0, 'Invalid', 'AUSTRALIA', 'Queensland', 'Wading', 'F', '9 & 60', 'N', '09h30', 'Reported as shark attacks but injuries caused by toadfish']
[2003.0, 'Watercraft', 'SOUTH AFRICA', 'Western Cape Province', 'Fishing ', nan, '36 & 26', 'N', '09h40', '2 m cow shark']

In [8]:
# Criar função para isolar o STR em mais de um INT
import regex as re

def lista_idade(lista):
    '''Mapear o elemento AGE da lista criada pela função info_mult (index[6]) e isolar a STR
    em quantos INT tiverem ali dentro'''
    
    pattern = '[0-9]+'
    idade = list()
    idade = re.findall(pattern, lista[6])
    return idade

In [290]:
# Criar a lista com a idade das pessoas em uma única linha 
idades_183 = lista_idade(linha_183)
idades_186 = lista_idade(linha_186)
idades_909 = lista_idade(linha_909)
idades_1765 = lista_idade(linha_1765)
idades_2059 = lista_idade(linha_2059)
idades_2324 = lista_idade(linha_2324)
idades_2719 = lista_idade(linha_2719)
idades_2775 = lista_idade(linha_2775)
idades_1743 = lista_idade(linha_1743)

print(idades_183)
print(idades_1765)
print(idades_1743)

['28', '22']
['46', '34']
['28', '23', '30']

In [328]:
# Criar um jeito de adicionar as idade em duas novas listas

for i in idades_183:
    linha_183_1 = linha_183[:]
    linha_183_1[6] = i
    idades_183.pop(0)
    for i in idades_183:
        linha_183_2 = linha_183[:]
        linha_183_2[6] = i
        idades_183.pop(0)
    if len(idades_183) == 0:
        break
    else:
        for i in idades_183:
            linha_183_3 = linha_183[:]
            linha_183_3[6] = i
            idades_183.pop(0)


# O FOR funciona e as linhas separadas dos dois casos do index 183 estão na célula abaixo.
# Mas como fazer isso virar uma função?
# Se eu colocar do jeito que está em uma função, em cada loop que ela der vai sobrescrever,
# as informações da lista anterior
# preciso que em cada loop uma lista nova seja criada e armazenada no global. 
# Não tenho ideia de como fazer isso!!!!

In [329]:
# Conferindo se deu tudo certo:
print(linha_183_1)
print(linha_183_2)

[2019.0, 'Unprovoked', 'AUSTRALIA', 'Queensland', 'Snorkeling', 'M', '28', 'N', '10h20', 'Tiger shark']
[2019.0, 'Unprovoked', 'AUSTRALIA', 'Queensland', 'Snorkeling', 'M', '22', 'N', '10h20', 'Tiger shark']

In [303]:
print(a)

20 or 22

In [296]:
print(linhas_multiplas[0][0])

[2019.0, 'Invalid', 'AUSTRALIA', 'Queensland', 'Wading', 'F', '9 & 60', 'N', '09h30', 'Reported as shark attacks but injuries caused by toadfish']

In [287]:
# Confirmando todas as listas que já estão prontas:

print(linha_182_1)
print(linha_182_2)
print(linha_182_3)
print(linha_183_1)
print(linha_183_2)

# Listas para adicionar no DataFrame princial = atck
# e RETIRAR as respectivas antigas

[2019.0, 'Unprovoked', 'USA', 'Hawaii', 'Snorkeling', nan, 22, 'N', '10h40', "Galapagos shark, 5'-9'"]
[2019.0, 'Unprovoked', 'USA', 'Hawaii', 'Snorkeling', nan, 57, 'N', '10h40', "Galapagos shark, 5'-9'"]
[2019.0, 'Unprovoked', 'USA', 'Hawaii', 'Snorkeling', nan, 31, 'N', '10h40', "Galapagos shark, 5'-9'"]
[2019.0, 'Unprovoked', 'AUSTRALIA', 'Queensland', 'Snorkeling', 'M', '28', 'N', '10h20', 'Tiger shark']
[2019.0, 'Unprovoked', 'AUSTRALIA', 'Queensland', 'Snorkeling', 'M', '22', 'N', '10h20', 'Tiger shark']